<div class="container">
 <head>
 	<style>
 body {
 	background-color: #baffdc;
    background-image: url("http://kingofwallpapers.com/aurora/aurora-003.jpg");
    background-size: cover;
}
}
	</style>
</head>
<body>
	<h1 class="center">Bitly What You Wan</h1>

	<form class="form" action = "/urls" method="post">
		<input type="text" name="long_url">
		<input type="submit" value="Shorten">
	</form>

	<%= @msg %>
	<br>

	<table id="table1" style="width:100%">
	<th>Before</th><th>After</th>

		<% @urls.each do |x|%>
			<tr>
				<td><%= x.long_url %></td>
				<td><a href ="/<%=x.short_url%>"><%= x.short_url %></td>
			</tr>
		<% end %>
	</table>
</div>