<div class="container">
	<h1 id='title' class="center">Bitly What You Wan</h1>
	<form class="form" action = "/urls" method="post">
		<input type="text" name="long_url">
		<input type="submit" value="Shorten">
	</form>
	<p class="center"><%= @msg %></p>
	<br>
	<button id='flip'>See More</button>
	<br>
	<table>
		<th width='70%'>
			<h2>Before</h2>
		</th>
		<th width='30%'>
			<h2>After</h2>
		</th>
		<tbody id='table1'>
		<% @urls.each do |x|%>
			<tr>
				<td><%= x.long_url %></td>
				<td>
				<a href ="/<%=x.short_url%>"><%= x.short_url %></a>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>